.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  gap: 10px;
  margin-top: 64px;
}

.label {
  position: relative;
}

.select {
  width: 100px;
  height: 40px;
  background: transparent;
  border: 1px solid #8c8c8c;
  border-radius: 122px;
  color: white;
  padding: 8px 12px;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M6 8L1 3h10z' fill='%23333'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px 12px;
  padding-right: 36px;

  &::placeholder {
    color: rgb(184, 184, 184);
  }
}

.input {
  width: 500px;
  height: 40px;
  background: transparent;
  padding: 8px 12px;
  border: 1px solid #dddcdc;
  border-radius: 12px;
  color: white;

  &::placeholder {
    color: rgb(184, 184, 184);
  }
}

.submit {
  background: transparent;
  padding: 8px 12px;
  border: 1px solid #dddcdc;
  border-radius: 12px;
  color: white;
}

.error {
  position: absolute;
  margin-left: 10px;
  margin-top: 3px;
  color: rgb(173, 0, 0);
}

.iframe {
  margin-top: 40px;
}
