.container {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.iframe {
  aspect-ratio: 16/9;
  width: 80%;
  height: 90%;
}

.videoTitle {
  margin-top: 12px;
  font-size: 20px;
}

.videoInfoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  line-height: 1;
  font-size: 14px;
}

.channelImg {
  display: block;
  width: 32px;
  height: 32px;
  background: gray;
  border-radius: 50%;
  z-index: 1;

  &:hover {
    background: rgb(199, 199, 199);
    transition: background 0.3s;
  }

  .hiddenText {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
