.container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 55px auto;
  padding-right: 12px;
  height: 100dvh;
  overflow: hidden;

  > :first-child {
    grid-column: span 2 / span 2;

    padding: 0 16px;
  }
}
