.leftMenu {
  padding: 12px;
  width: 240px;
}

.nav {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: background 0.3s;
  }
}

.icon {
  filter: invert(1);
}

.diveder {
  height: 1px;
  width: 100%;
  margin: 12px 0;
  background: rgba(255, 255, 255, 0.2);
}
